__pycache__
.idea
.pytest_cache
poetry.lock
*.DS_Store
*gurobi.log
*.code-workspace
tests/self_test*
tests/*testcases/*/alignment.html
tests/*testcases/*/df_alignment.csv
tests/*testcases/*/df_expanded_alignment.csv
tests/*testcases/*/fragments.plot.html
tests/*testcases/*/fragments.plot.end.html
tests/*testcases/*/fragments.plot.internal.html
tests/*testcases/*/fragments.plot.start.html
tests/*testcases/*/fragments.preprocessed.meta.yaml
tests/*testcases/*/fragments.prediction.*
tests/*testcases/*/fragments.raw
tests/*testcases/*/fragments.singletons.tsv
tests/*testcases/*/fragments.standard_unit_fragments.tsv
tests/*testcases/*/fragments.testing.meta.yaml
tests/*testcases/*/singletons.plot.html
tests/*testcases/*/singletons/*.html
tests/scratch_*
/target
/.pixi
/dist
# maturin-generated dynamic libraries
*.so
/Cargo.lock