name: test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: prefix-dev/setup-pixi@v0

      - run: |
          pixi run format --check

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: prefix-dev/setup-pixi@v0

      - run: |
          pixi run lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: prefix-dev/setup-pixi@v0

      - run: |
          pixi run test -v
