on:
  push:
    branches:
      - main

name: release-please

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: GoogleCloudPlatform/release-please-action@v3
        id: release
        with:
          release-type: python
          package-name: spectrseqtools

  publish:
    runs-on: ubuntu-latest
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    permissions:
      id-token: write
    environment:
      name: pypi
      url: https://pypi.org/p/spectrseqtools
    steps:
      - uses: actions/checkout@v3

      - name: Setup pixi
        uses: prefix-dev/setup-pixi@v0

      - name: Build source and wheel distribution + check build
        run: |
          pixi run -e dev check-build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
